fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
streamlit
requests
pydantic
streamlit-autorefresh
tenacity
structlog
matplotlib
pandas
python-multipart
phonenumbers
cryptography
loguru
redis
elasticsearch
firebase-admin